// *************************************
//
//   pages/index
//
//
// *************************************
.index
  .links
    margin-top: -6px

.index, .about, .rooms, .diningarea, .facilities, .rooms_standard, .rooms_superior, .rooms_delux

  .logo
    +span(isolate 10 at 2)
    position: relative
    padding: 0 20px
    margin-top: 50px
    z-index: index($elements, logo)
    +breakpoint($b-mobile)
      +span(isolate 10 at 2)
      margin-top: 130px
      padding: 0 100px
    +breakpoint($b-pad)
      +span(isolate 6 at 4)
      margin-top: 150px
    +breakpoint($b-desktop)
      +span(isolate 4 at 5)
      margin-top: 170px
      padding: 0 50px
    +breakpoint($b-xlarge)
      +span(isolate 4 at 5)
      margin-top: 260px
      padding: 0 120px

    img
      @extend %mcenter


  .menu
    +span(isolate 10 at 2)
    z-index: index($elements, menu)
    position: relative
    margin-top: 180px
    +breakpoint($b-mobile)
      +span(isolate 10 at 2)
      margin-top: 350px
    +breakpoint($b-pad)
    +breakpoint($b-desktop)
      margin-top: 340px
    +breakpoint($b-xlarge)
      margin-top: 450px

    img
      @extend %mcenter


  .menu-item
    list-style: none
    @extend %span12
    +breakpoint($b-xlarge)
      +span(isolate 10 at 2)

    li
      @extend %span12
      display: block
      text-align: center
      width: 100%
      margin-bottom: 0.8em
      &:first-child
        margin-top: 1.5em
      &:last-child
        margin-bottom: 1.5em
      +breakpoint($b-mobile)
        margin-top: 2em
        +span(3)
        &:first-child
          margin-top: 2em
        &:last-child
          margin-bottom: 0

      a
        @extend %navi-button

  .content
    @extend %span12
    padding: 1em
    margin: 2em 0 3em 0
    background-color: rgba(#000, 0.3)
    line-height: 1.8
    +breakpoint($b-desktop)
      +span(11.6)
      +push(0.2)
    +breakpoint($b-xlarge)
      +span(9.6)
      +push(1.2)

    .copy
      text-align: left
      +breakpoint($b-mobile)
        text-align: center
        font-size: $fz-m
    p
      +breakpoint($b-mobile)
        padding: 0 2em
    h4
      +breakpoint($b-mobile)
        padding: 0 1em
