// *************************************
//
//   pages/index
//
//
// *************************************
html
  @extend %h100p

body
  @extend %h100p
  background-color: $cvt-white

.main
  @extend %h100p
  padding: 0 $wborder-width

.content
  @extend %h100p
  background: #ccc url(#{$img-bg}/index01.jpg) center center no-repeat
  +background-size(cover)
  overflow: scroll
  padding: $wborder-width 0

  +breakpoint($b-mobile)
    padding: $wborder-width*2 0


header, footer
  background-color: $cvt-white
  width: 100%
  position: fixed
  height: $wborder-width

  +breakpoint($b-mobile)
    height: $wborder-width*2

header
  top: 0
  padding: 0.65em $wborder-width

  .i18n
    padding: 0.25em 0 0 0.2em

  a
    font-size: $fz-xs
    @extend .trans-05s
    color: $cvt-grey
    &:hover
      color: darken($cvt-grey, 25%)
      text-decoration: none



footer
  bottom: 0
  color: $cvt-grey
  padding: 0 $wborder-width
  +breakpoint($b-mobile)
    padding: 0.65em $wborder-width

  p
    font-size: $fz-xs

