// *************************************
//
//   pages/rooms
//
//
// *************************************
.rooms, .diningarea
  .title
    +breakpoint($b-desktop)
      margin-top: 150px
  .menu
    +breakpoint($b-desktop)
      margin-top: 240px

  .menu-item
    .rooms-wraper, .dining-wraper
      +span(12)
      background-color: rgba(#fff, 0.5)
      padding: 0.5em
      a
        position: relative
        height: auto
        background-color: rgba(#fff, 0.5)
        border: 0
        padding: 0
        &:hover
          text-decoration: none
          background-color: rgba(#fff, 0.8)
        .room-lv
          border: 1px solid #fff
          display: block
          position: absolute
          top: 0
          width: 100%
          height: 100%
          font-size: $fz-xl
          background-color: rgba(#000, 0.4)
          font-family: 'Aguafina Script', cursive
          padding-top: 35px
          +breakpoint($b-mobile)
            padding-top: 23px
            font-size: $fz-xl
          +breakpoint($b-desktop)
            padding-top: 45px
            font-size: $fz-xxl
          +breakpoint($b-xlarge)
            padding-top: 55px
            font-size: $fz-xxxl
          &:hover
            background-color: rgba(#000, 0.6)

      p
        margin: 0
      .detail, .level
        display: block
        height: 44px
        padding-top: 0.6em
      .level
        color: #6a6255
      .detail
        margin-top: 0.5em
        background-color: #6a6255
        color: #fff

    .rooms-wraper
      background-color: rgba(#000, 0.6)

    .room-a
      +text-shadow(0 2px 0 #000)
      &:hover
        +text-shadow(0 4px 1px #000)
    .dining-a
      &:hover
        +text-shadow(#fff 0 1px 0)





