.rooms_standard, .rooms_superior, .rooms_delux
  .title
    +span(isolate 10 at 2)
    margin-top: 20px
    +breakpoint($b-mobile)
      margin-top: 100px
    +breakpoint($b-desktop)
      margin-top: 80px
    +breakpoint($b-xlarge)
      margin-top: 120px
  .menu
    margin-top: 80px
    +breakpoint($b-mobile)
      margin-top: 195px
    +breakpoint($b-desktop)
      margin-top: 170px
    +breakpoint($b-xlarge)
      margin-top: 210px

%room-gallery
  +span(12)
  .pic
    margin-bottom: 0.5em
  img
    border: 2px solid #fff

  +breakpoint($b-mobile)
    margin-top: 1em
    +span(10)
    +push(1)
  +breakpoint($b-pad)
    +span(8)
    +push(2)

.rooms_standard
  .room-gallery
    @extend %room-gallery
    +span(3)
    +push(4.5)
    .pic
      +span(12)
.rooms_superior
  .room-gallery
    @extend %room-gallery
    .pic
      +span(3)
.rooms_delux
  .room-gallery
    @extend %room-gallery
    +span(8)
    +push(2)
    .pic
      +span(4)


.room-info
  position: absolute
  bottom: 0
  width: 100%
  height: 60%
  background-color: $cvt-roomsDetailBg
  z-index: index($elements, room_info)
  padding: $wborder-width/2 $wborder-width*1.5 $wborder-width*1.5 $wborder-width*1.5
  +breakpoint($b-mobile)
    padding: $wborder-width/2 $wborder-width*1.5 $wborder-width*2.5 $wborder-width*1.5
    height: 50%
  +breakpoint($b-pad)
    height: 40%
  +breakpoint($b-xlarge)
    height: 30%

  .info-wraper
    width: 100%
    height: 100%
    background-color: $cvt-infoWraperBg
    overflow: scroll

  .info-intro
    padding: 0.5em
    @extend %span12
    .spec
      border-bottom: 1px solid #fff
      margin-bottom: 0.5em
      h4
        font-size: $fz-s
        padding-bottom: 0.1em
        +breakpoint($b-mobile)
          font-size: $fz-m
          padding: 0 0.5em
    p
      font-size: $fz-s
      padding: 0 1em
    .zh
      font-size: $fz-s
    .bed
      padding: 0
      color: #d7d1b3
      font-size: $fz-xs
    .cost
      color: #f0c0c0
      font-size: $fz-xs
      text-align: right
      margin-top: 0.4em
      +breakpoint($b-mobile)
        margin-top: 0.4em

    +breakpoint($b-mobile)
      +span(6)
    +breakpoint($b-xlarge)
      +span(5)

  .info-facilities
    @extend .info-intro
    .facilities-list
    li
      font-size: $fz-s
      display: inline-block
      +span(12)
      margin-top: 0.5em
      +breakpoint($b-desktop)
        +gallery(6)
      +breakpoint($b-xlarge)
        +gallery(4)
  .info-navi
    @extend %span12

