// *************************************
//
//   Basic layout
//   基本排版設定
//
// *************************************

// height 100%
%h100p
  height: 100%

// a row container
.qrow
  +break

// a row container
%span12
  +span(12)

%mcenter
  margin: 0 auto

// index

%border-side
  height: 100%
  width: $wborder-width
  background-color: #FFF

// %bg-slider
//   position: relative
//   +background-size(cover)
//   overflow: scroll
//   padding: $wborder-width 0

//   +breakpoint($b-mobile)
//     padding: $wborder-width*2 0

