---
title: Emprée Taipei || About Us
---

= partial "partials/header2"

/! main content START from here!

.main
  .qrow#top
    .title
      h2 About Us
    .menu
      img.img-responsive src="./img/pages-divider.png" alt=""/
      .sub-title
        p Celestial Vita

      ul.menu-item.qrow
        li
          a.trans-05s href="#hoteloverview" Hotel Overview
        li
          a.trans-05s href="#mapanddir" Maps & Directions
        li
          a.trans-05s href="#activities" Area Activities

      .arrow
        a href="#hoteloverview"
          i.fa.fa-angle-down.fa-5x

      #hoteloverview.content.qrow
        h4
          |
            HOTEL OVERVIEW
          |
          span  飯店介紹
        p 星喬莊園位於台北市文山區，距離 101 信義商圈僅 15 分鐘車程，交通便利、四通八達，占地 1000 坪，建物 3000 坪，環境優美、景觀綠意、安逸舒適、鬧中取靜，優閒度假。
        .gallery
          .pic
            a rel="group" href="./img/about-over01.jpg" title="星喬莊園景觀"
              img.img-responsive src="./img/about-over01.jpg" alt="星喬莊園景觀" /
          .pic
            a rel="group" href="./img/about-over02.jpg" title="星喬莊園景觀"
              img.img-responsive src="./img/about-over02.jpg" alt="星喬莊園景觀" /
          .pic
            a rel="group" href="./img/about-over03.jpg" title="星喬莊園景觀"
              img.img-responsive src="./img/about-over03.jpg" alt="星喬莊園景觀" /
          .pic
            a rel="group" href="./img/about-over04.jpg" title="星喬莊園景觀"
              img.img-responsive src="./img/about-over04.jpg" alt="星喬莊園景觀" /

        a.back2top href="#top"
          | Back to Top&nbsp;
          i.fa.fa-angle-double-up


      #mapanddir.content.qrow
        h4
          |
            MAPS & DIRECTIONS
          |
          span  交通資訊
        p 星喬莊園鄰近 101 信義商圈，車程 15 分鐘即可到達。緊鄰政大生活圈，小吃、超商、藥妝店、書店集聚，生活機能佳。距離動物園捷運站只要 5 分鐘，可搭乘捷運輕鬆暢遊大台北。附近景點包括台北市立動物園、貓空纜車、指南宮、深坑老街等觀光名勝，星喬莊園擁有遠離塵囂，貼近大自然的絕佳地理位置。
        p （本飯店備有戶外臨時停車場，方便來賓們使用。）
        p 地址：台北市文山區政大二街 51 號
        .map-wraper
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3616.399403629007!2d121.58408080000001!3d24.986540899999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa871384b1dd%3A0xcead38a7d7e51f74!2zMTE25Y-w54Gj5Y-w5YyX5biC5paH5bGx5Y2A5pS_5aSn5LqM6KGXNTHomZ8!5e0!3m2!1szh-TW!2s!4v1406307292255" width="100%" height="250" frameborder="0" style="border:0"></iframe>

        a.back2top href="#top"
          | Back to Top&nbsp;
          i.fa.fa-angle-double-up

      #activities.content.qrow
        h4
          |
            AREA ACTIVITIES
          |
          span  週邊景點
        ul
          li 臺北市立動物園
          li 貓空纜車－可搭乘纜車，欣賞台北市夜景。
          li 指南宮進香
          li 深坑老街－品嘗台灣道地小吃。
        a.activities-map href="./img/activities-map.png" title="星喬莊園週邊景點"
          img.img-responsive src="./img/activities-map.png" alt="星喬莊園週邊景點"/

        a.back2top href="#top"
          | Back to Top&nbsp;
          i.fa.fa-angle-double-up


  .border-left
  .border-right
  #bgslide
    img.img-responsive src="./img/background/about01.jpg" alt="星喬莊園"/
    img.img-responsive src="./img/background/about02.jpg" alt="星喬莊園"/
    img.img-responsive src="./img/background/about03.jpg" alt="星喬莊園"/

  .overlay


