---
title: Celestial Vita Taipei || Dining Area
---

= partial "partials/header2"

/! main content START from here!

.main
  .qrow
    .title
      h2 Dining Area
    .menu
      img.img-responsive src="./img/pages-divider.png" alt=""/
      .sub-title
        p

      ul.menu-item.qrow
        li
          .rooms-wraper
            a.trans-05s href="#"
              |
              span.level 星辰廳
              p
                img.img-responsive src="./img/diningarea-stars.jpg" alt=""/

        li
          .rooms-wraper
            a.trans-05s href="#"
              |
              span.level 御喬庭園餐廳 ORCHARD
              p
                img.img-responsive src="./img/diningarea-orchard.jpg" alt=""/


      .content.qrow
        h4
          |
            美食料理
        p 　　御喬庭園餐飲店不定期推出主廚創意料理，融合異國風味的美食佳餚，完全不使用味精調味，以當季食材現點現做的養生美食，打動味蕾輕鬆無負擔。此外，餐廳還提供宴會服務，精緻優美的宴客環境，健康獨特的美食饗宴，能滿足大宴小酌需求。


  .border-left
  .border-right
  #bgslide
    img.img-responsive src="./img/background/index01.jpg" alt=""/
    img.img-responsive src="./img/background/index02.jpg" alt=""/

  .overlay


