---
title: Celestial Vita Taipei || Rooms - Superior
---

= partial "partials/header2"

/! main content START from here!

.main
  .qrow
    .title
      h2 Rooms
    .menu
      img.img-responsive src="./img/pages-divider.png" alt=""/
      .sub-title
        p Superior :: 雅緻客房

      .room-gallery
        .pic
          a rel="group" href="./img/superior01.jpg" title="星喬莊園 - 雅緻客房"
            img.img-responsive src="./img/superior01.jpg" alt="星喬莊園 - 雅緻客房" /
        .pic
          a rel="group" href="./img/superior02.jpg" title="星喬莊園 - 雅緻客房"
            img.img-responsive src="./img/superior02.jpg" alt="星喬莊園 - 雅緻客房" /
        .pic
          a rel="group" href="./img/superior03.jpg" title="星喬莊園 - 雅緻客房"
            img.img-responsive src="./img/superior03.jpg" alt="星喬莊園 - 雅緻客房" /
        .pic
          a rel="group" href="./img/superior04.jpg" title="星喬莊園 - 雅緻客房 - 浴室"
            img.img-responsive src="./img/superior04.jpg" alt="星喬莊園 - 雅緻客房 - 浴室" /
        .pic
          a rel="group" href="./img/superior05.jpg" title="星喬莊園 - 雅緻客房 - 兩單床"
            img.img-responsive src="./img/superior05.jpg" alt="星喬莊園 - 雅緻客房 - 兩單床" /



    .room-info
      .info-wraper
        .info-intro
          .spec
            h4
              | ✺ Superior /
              span.zh  雅緻客房
              span.cost.pull-right  NT$12,000+10%

          p.bed  &#123; QUEEN BED &#125;
          p 佔地11坪的雅緻客房，爲您打造最舒適無壓力的休憩之所，舒適的Queen size床墊，備有暖乾機的乾濕分離淋浴空間，讓您從進房的那一刻起，就開始享受最悠閒自在的旅行時刻。
          p.extrainfo 面積: 36 平方公尺 (11坪)
          p.extrainfo 床型: 1 加大床 (QUEEN BED)
          p.extrainfo 入住 / 退房時間: 15:00 / 12:00

        .info-facilities
          .spec
            h4
              | ✺ Facilities /
              span.zh  房內設備
          ul.facilities-list
            li •　個人衛浴清潔用品
            li •　42 吋平面液晶電視
            li •　免費無線上網
            li •　電話
            li •　電子保險箱
            li •　免費咖啡及茶包
            li •　廚下型飲水機
            li •　迷你冰箱
            li •　乾濕分離浴室（浴室暖乾機）
            li •　吹風機
            li •　浴巾 / 毛巾 / 拖鞋
            li •　2 張單人沙發椅

        .info-navi
          .nextlevel
            a.trans-05s href="./rooms_delux.html"
              | Delux&nbsp;
              i.fa.fa-chevron-circle-right
          .back
            a.trans-05s href="./rooms.html"
              i.fa.fa-chevron-circle-left
              |  Back

  .border-left
  .border-right
  #bgslide
    img.img-responsive src="./img/background/room_superior01.jpg" alt="星喬莊園"/
    img.img-responsive src="./img/background/room_superior02.jpg" alt="星喬莊園"/
    img.img-responsive src="./img/background/room_superior03.jpg" alt="星喬莊園"/

  .overlay


