---
title: Celestial Vita Taipei || Rooms - Delux
---

= partial "partials/header2"

/! main content START from here!

.main
  .qrow
    .title
      h2 Rooms
    .menu
      img.img-responsive src="./img/pages-divider.png" alt=""/
      .sub-title
        p Delux :: 豪華客房

      .room-gallery
        .pic
          a rel="group" href="./img/delux01.jpg" title="星喬莊園 - 豪華客房"
            img.img-responsive src="./img/delux01.jpg" alt="星喬莊園 - 豪華客房" /
        .pic
          a rel="group" href="./img/delux02.jpg" title="星喬莊園 - 豪華客房"
            img.img-responsive src="./img/delux02.jpg" alt="星喬莊園 - 豪華客房" /
        .pic
          a rel="group" href="./img/delux03.jpg" title="星喬莊園 - 豪華客房"
            img.img-responsive src="./img/delux03.jpg" alt="星喬莊園 - 豪華客房" /


    .room-info
      .info-wraper
        .info-intro
          .spec
            h4
              | ✺ Delux /
              span.zh  豪華客房
              span.cost.pull-right  NT$20,000+10%

          p.bed  &#123; KING BED &#125;
          p 臥在溫暖舒適的大床上，消解一身疲勞；亦或賴在沙發上閱覽書報，米色系的裝潢與擺設襯托您不凡的品味。豪華客房加長型的房間設計提供您寬廣舒適的休憩空間，讓視野和心情都跟著放鬆了下來。
          p.extrainfo 面積: 50 平方公尺 (15坪)
          p.extrainfo 床型: 1 加大床 (KING BED)
          p.extrainfo 入住 / 退房時間: 15:00 / 12:00

        .info-facilities
          .spec
            h4
              | ✺ Facilities /
              span.zh  房內設備
          ul.facilities-list
            li •　個人衛浴清潔用品
            li •　42 吋平面液晶電視
            li •　免費無線上網
            li •　電話
            li •　電子保險箱
            li •　免費咖啡及茶包
            li •　廚下型飲水機
            li •　迷你冰箱
            li •　乾濕分離浴室（浴室暖乾機）
            li •　吹風機
            li •　浴巾 / 毛巾 / 拖鞋
            li •　沙發椅

        .info-navi
          .nextlevel
            a.trans-05s href="./rooms_standard.html"
              | Standard&nbsp;
              i.fa.fa-chevron-circle-right
          .back
            a.trans-05s href="./rooms.html"
              i.fa.fa-chevron-circle-left
              |  Back

  .border-left
  .border-right
  #bgslide
    img.img-responsive src="./img/background/room_delux01.jpg" alt="星喬莊園"/
    img.img-responsive src="./img/background/room_delux02.jpg" alt="星喬莊園"/
    img.img-responsive src="./img/background/room_delux03.jpg" alt="星喬莊園"/

  .overlay


